.converter-container {
    margin-top: 30px;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .resultroot
  {
    padding-top: 20px;
  }

  .resultcard
  {
    padding: 20px;

    position: relative;
  }

  .copy
  {
    position: relative;
    width: 20px;
    height: 20px;

    bottom: 10%;
    left: 90%;
  }

  .cardroot
  {
    padding: 20px;
  }

  .root
  {
    padding: 30px;
  }

  .numberbutton
  {
    background-color: black;
    border-color: white;
  }

  .numberbutton:hover
  {
    background-color: black;
    border-color: white;
  }

  .clearbutton
  {
    background-color: black;
    border-color: white;
  }

  .clearbutton:hover
  {
    background-color: black;
    border-color: white;
  }
  
  h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #0751a1;
    font-weight: 800;
  }

  h4
  {
    font-size: 1.3rem;
    margin-bottom: 2px;
    color: #007bff;
  }
  
  label {
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  p {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
  }
  
  p.invalid {
    color: red;
  }
  